<h1>Add a flat</h1>
</p><br><br>

<%= form_for(@flat) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :price_per_day %>
  <%= f.integer_field :price_per_day %>
  <%= f.label :capacity %>
  <%= f.integer_field :capacity %>
  <%= f.label :dexcription %>
  <%= f.text_field :dexcription %>
  <%= f.label :type %>
  <%= f.text_field :type %>
  <%= f.submit %>
<% end %>
