<h1><%= @flat.title %></h1>
<div class="text-center">
  <% if @flat.pictures != [] %>
    <% @flat.pictures.each do |pic| %>
      <%= image_tag pic.flat_image(:medium) unless pic.seed_picture_url %>
      <%= image_tag pic.seed_picture_url unless nil %>
    <% end %>
  <% else %>
  <% end %>


  <!-- For the renter only -->
  <% unless @flat.user == current_user %>
    <p>    </p>
    <p><%= link_to "Book this flat", new_flat_booking_path(@flat), class: 'bookingBtn'%></p>
  <% end %>

  <p>    </p>
  <p>Street address: <%= @flat.address %></p>
  <p>Price: <%= @flat.price_per_day %> € / day</p>
  <p>Housing type: <%= @flat.housing_type %></p>
  <p>Up to <%= @flat.capacity %> persons</p>
  <p>Description: <%= @flat.description %></p>
</div>
<!-- TODO List all photos -->


<!-- For the owner only -->
<ul>
<% if @flat.user == current_user %>
  <li><%= link_to "Add a picture for the flat", new_flat_picture_path(@flat) %></li>
  <li><%= link_to "Edit the flat", edit_flat_path(@flat) %></li>
  <li><%= link_to "Delete this flat", flat_path(@flat), method: :delete,
  data:{ confirm: "Are you sure?" } %></li>
<% end %>
<!-- shared between owner and renter -->
<li><%= link_to "Back to all flats", flats_path %></li>
<!-- end -->
</ul>