<div id='wrap-bookings'>
   <div id='wrap-text'>
    <% if @booking.flat.user == @user %>
      <h1>Please accept or decline this booking!</h1>
    <% end %>
    <% if @booking.user == @user %>
      <h1>Rate your stay !</h1>
    <% end %>
    </p><br>

    <%= form_for(@booking) do |f| %>

      <!-- only the owner should be able to see and change this field -->
      <% if @booking.flat.user == @user %>
        <%= f.label :request_status %>
        <%= f.select :request_status, options_for_select([['Accept', 'Accepted'], ['Decline', 'Declined']]) %><br>
      <% end %>

      <!-- only the renter should be able to see and change these fields -->
      <% if @booking.user == @user %>
        <%= f.label :rating %>
        <%= f.number_field :rating %>
        <br>
        <%= f.label :review %>
        <%= f.text_area :review %>
        <br>
      <% end %>

      <%= f.submit %>
    <% end %>
  </div>
</div>