<div id='wrap-bookings'>
  <div id='wrap-text'>
    <h1>Book <%= link_to @flat.title, flat_path(@flat) %>!</h1>
    </p><br><br>

    <% unless @booking.end_date == nil || @booking.begin_date == nil %>
      <p>Total price for <%= stay_length = (@booking.end_date - @booking.begin_date).to_i%> days : <%= (@flat.price_per_day*stay_length).to_i %> € </p>
    <% end %>
    <br>
      <div id='formsize'>
      <%= form_for([ @flat, @booking ]) do |f| %>
        <%= f.date_field :begin_date, class: "form-control" %><br>

        <%= f.date_field :end_date, class: "form-control" %><br>
      </div>

      <%= f.submit 'Book now!', class: 'bookingBtn' %>
    <% end %>
  </div>
</div>
