<p>booking#show</p>
<p><%= @booking.begin_date %></p>
<p><%= @booking.end_date %></p>
<p><%= @booking.request_status %></p>
<p><%= @booking.review %></p>
<p><%= @booking.rating %></p>
<!-- not sure about the last ones -->
<p><%= @booking.flat.title %></p>
<p><%= @booking.flat.pictures %></p>
<p><%= @booking.flat.address %></p>